.Timer {
    visibility: visible;
}

.round-time-bar{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.h2{
    margin-left: auto;
    margin-right: auto;
}

.timerCounter{
    width: 100%;
}
